{% extends "base.html" %}

{% block content %}

<main class="fogot-password">
    <section class="registr-form">
<div id="sign">
        <h4 class="title">Forgot Password?</h4>
</div>

<div>Enter your email address to reset your password</div>

<form id="form" class="form-horizontal"  action=''  method="post">

    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    
    <div class="form_item login_f">
            {% csrf_token %}{{ form.email }}
        </div>

    <div class="button-log-in">

                    <button type="submit" href="#">SUBMIT</button>
                </div>



</form>
    </section>
</main>
{% endblock %}