{% extends "base.html" %}

{% block content %}
<main class="fogot-password">
<section class="registr-form">

<div id="sign">

    <h4 class="title">Setting New password</h4>
</div>
    {% if validlink %}
        <div><span class="blue-text blue-text-margin">Please enter your new password twice.<br>
            So we can verify you typed it in correctly.</span></div>

        <form id="form" class="form-horizontal form" action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
                <div class="form_item login_f">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1"><span class="grey-text">New password:</span></label>
                    {{ form.new_password1 }}</div>
                <div class="form_item login_f">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2"><span class="grey-text">Confirm password:</span></label>
                    {{ form.new_password2 }}
                </div>

               <div class="button-log-in">

                    <button type="submit" href="#">Change my password</button>
                </div>


        </form>
    {% else %}


        <div class="registr-form">
            <h1 class="blue-text"><b>Password reset unsuccessful</b></h1><br>
        <p class="grey-text">The password reset link was invalid,
        possibly because it has already been used. <br>
        Please request a new password reset.</p>

        </div>
    {% endif %}
</div>
</section>
</main>

{% endblock %}