{% extends "base.html" %}


{% block content %}
   <main class="fogot-password">
<section class="registr-form">

<div id="sign">

    <h4 class="title">Password reset complete</h4>
</div>
    <div>
        <span class="blue-text">Your password has been set. You may go ahead and log in now.</span><br>
    </div>
<div id="butt-marg">
    {% if user.is_authenticated %}
            <button class="login-btn"><a href="{% url 'login:logout' %}">Logout</a></button>
        {% else %}
            <button class="login-btn" > <a data-toggle="modal" href="{% url 'login:login' %}" data-target="#form-modal">Login</a></button>
        {% endif %}
</div>

</section>
   </main>

{% endblock %}
