{% extends "base.html" %}

{% load static %}


{% block title %} Home {% endblock title %}

{% block content %}

    <h2>Зарегистрированные покупатели: </h2>
    <table class="table table-hover">
        <tr><td><b>Username</b></td><td>Email</td><td>Password</td></tr>
        <tr><td><b>customer1</b></td><td>customer1@mail.com</td><td>qwe123qwe123</td></tr>
        <tr><td><b>customer2</b></td><td>customer2@mail.com</td><td>qwe123qwe123</td></tr>
        <tr><td><b>customer3</b></td><td>customer3@mail.com</td><td>qwe123qwe123</td></tr>
        <tr><td><b>customer4</b></td><td>customer4@mail.com</td><td>qwe123qwe123</td></tr>
    </table>

    <h2>Зарегистрированный персонал: </h2>
    <table class="table table-hover">
        <tr><td><b>Username</b></td><td>Email</td><td>Password</td></tr>
        <tr><td><b>Staff1</b></td><td>staff1@mail.com</td><td>qwe123qwe123</td></tr>
        <tr><td><b>Staff2</b></td><td>staff2@mail.com</td><td>qwe123qwe123</td></tr>
    </table>

    <h2>Вход в админку: </h2>
    <table class="table table-hover">
        <tr><td><b>Username</b></td><<td>Password</td></tr>
        <tr><td><b>admin</b></td><td>qwe123qwe123</td></tr>
    </table>
{% endblock content %}